*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


.btn{
    padding: 12.5px 16px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
}
.banner{
    background-image: url(./assets/hero-bg.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    color: white;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    
    /* min-height: 100vh; */
    display: flex;
}
.image{
    position: relative;
    /* width: fit-content; */
    margin: 0 auto;


}
.circle{
    display: flex;
    width: 100%;
    /* display: block; */

}
.mic{
    position: absolute;
    top:25%;
    left: 35%;
    margin: 0 auto;

}
.badge{
    position: absolute;
    top: 5%;
    right: 5px;
    background: #00ff88;
    color: black;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);

}
.hero-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.subscribe{
    color: #00ff88;
    padding: 12.5px 16px;
    border: 1px solid #00ff88;
    margin-left: 8px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 80px;
    padding-bottom: 120px;
}
.cardgrid .grid{
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}
.cardgrid .grid img{
    margin-bottom: 16px;
}
.cardgrid .grid p{
    margin-bottom: 16px;
    color: #ffffff;
    opacity: 0.6;
    line-height: 24px;
}
.cardgrid .grid h2{
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
    
}
.card h1{
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    
}
.btn, .subscribe{
    transition: all 0.3s ease-in-out;
}
.btn:hover, .subscribe:hover{
    transform: scale(1.05);
    opacity: 0.9;
}


@media screen and (max-width: 576px){
   .banner{
    padding: 100px 0;
    max-width: 576px;
    max-height: 555px;
    
    background-size: contain;

    
  }
  .image{
    padding-top: 25%;
    /* width: 65%; */
    max-width: 200px;
    
  }
  .circle{
    width: 100%;
    /* padding-top: 50%;
    padding-left: 50%; */
  }
  .mic{
    width: 25%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .badge{
     top: 40%;
     right: 0;
     padding: 5px 10px;
  }
  .About, .card-container{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .card-container{
    grid-template-columns: repeat(2,1fr);
  }
   
}